header.mainHeader {
    box-shadow: -3px -22px 5px black,
        3px -22px 5px black;
}

#header {
    text-align: center;
    // position: absolute;
    // color: blue;
    div {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }
    h1 {
        width: fit-content;
        cursor: pointer;
        margin-bottom: 0;
    }
    p {
        margin-top: 0;
    }
    .logout {
        position: absolute;
        right: 10px;
        cursor: pointer;
        top: 10px;
    }
    .filter {
        position: absolute;
        top: 50px;
        cursor: pointer;
        right: 30px;
        // translate: 100px 0;
    }
}
