@import "../../../mixins/CardStyle.scss";
ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
    &:not(.dash) {
        li {
            @include StoryLayout();
            .share {
                position: absolute;
                right: 10px;
                cursor: pointer;
                display: none;
                &.active {
                    display: block;
                    .copyNote {
                        display: inline;
                    }
                }
            }
            &:hover {
                .share {
                    display: block;
                    cursor: pointer;
                    .copyNote {
                        display: none;
                    }
                    &.active {
                        .copyNote {
                            display: inline;
                        }
                    }
                }
            }
        }
    }
}
