@import "../../../mixins/CardStyle.scss";
ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
    &:not(.dash) {
        li {
            @include StoryLayout();
            .shareContainer {
                position: absolute;
                right: 10px;
                cursor: pointer;
                opacity: 0;
                transition: all 0.5s;
                .copyNote {
                    display: none;
                }
                &.active {
                    display: block;
                    .copyNote {
                        display: inline;
                    }
                    // display: none;
                }
            }
            &:hover {
                .shareContainer {
                    // display: block;
                    opacity: 1;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    .share {
                        margin-left: 10px;
                    }
                    .copyNote {
                        display: none;
                    }
                    &.active {
                        .copyNote {
                            display: inline;
                        }
                    }
                }
            }
        }
    }
}
