@font-face {
    font-family: "BellMT";
    src: local("BellMT"),
        url(./fonts/BellMT.ttf) format("truetype");
}
body {
    margin: 0;
    font-family: "BellMT", -apple-system,
        BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    a {
        font-family: "BellMT";
    }
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.App {
    /* flex-grow: 1;
    display: flex; */
}

.outerContainer {
    display: flex;
    min-height: 100vh;
    .mainContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
